*{
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    /* border: 1px solid ; */
    
}

.bg{
    height: 640px;
    background-color: #0d9f46;
    border-bottom-left-radius: 100rem 5rem;
    border-bottom-right-radius: 100rem 5rem;
}

.header{
    
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    /* background-color: #0ca348; */
}

.brand-logo{
    /* border: 1px solid red; */
    width: 80%;
    height: 80px;
}

.nav-menu{
    /* border: 1px solid red; */
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-menu > li  {
    /* border: 1px solid black; */
    width: 80px;
    height: 30px;
    font-family: 'Arial', serif;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    /* transition: all 0.3s ease 0s;    */
}

a{
    color: white;
    text-decoration: none;
    /* list-style: disc; */
}


.nav-menu > li :hover{
    color: #ff9e45;
    /* background-color: white; */
}

.sign{
    /* border: 1px solid blue; */
    width: 22%;
    height: 60px;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    
}
 .signin > button, .signup > button {
    height: 50px;
    width: 130px;
    font-size: 18px;
    font-family: 'Arial', serif;
    border-radius: 58px;
    cursor: pointer;

}   
.signup > button {
    border: 3px solid rgba(5, 96, 0, .5);
    color: white;
    background-color: #ff9e45;
    background: linear-gradient(to bottom, #ffb845 0, #ff9945 100%);
} 
.signin > button {
    border: 3px solid #0bb850;
    background-color: #0d9f46;
    color: white;
}  


/* ------------------------------------------------------------ */

.section-start{
    /* border: 1px solid red; */
    display: flex;
    /* justify-content: space-between; */
    margin: auto;
    width: 100%;
    height: auto;
}

.berry-text-store{
    /* border: 1px solid blue; */
    height: auto;
    width: 38%;
    margin: 2px;
}

.berry{
    width: 60px;
    height: 55px;
    padding-top: 9%;
    margin-left: 7%;
}

h1{
    /* border: 1px solid; */
    height: 150px;
    width: 400px;
    color: #FFFFFF;
    font-size: 72px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 10px 90px ;
    line-height: 1;
    display: block;
}

p{
    /* border: 1px solid; */
    height: 50px;
    width: 60%;
    color: #fcf8b3;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    margin: 10px 90px;
}


.store{
    /* border: 1px solid red; */
    display: flex;
    width: 80%;
    margin: 62px 90px;
    justify-content: space-between;
}
.store a > img{
    width:85%;
    height: auto;
}

.rating{
    /* border: 1px solid red ; */
    width: 80%;
    height: auto;
    color: #46618a;
    font-size: 22px;
    font-weight: 400;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px 40px;
}

.rating-device, .rating-device > div{
    /* border: 1px solid ; */
    display: flex;
    margin: auto;
    justify-content: space-around;
}


 .rating-device div{
    margin: 20px 0px;
}

.iphone-watch{
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin: 2px;
}

.phone, .watch, .plate{
    /* border: 1px solid yellow; */
    margin: 2px;
    width: 100%;
}
.phone > img{
    height: 680px;
    width: 430px;
    margin-left: -75px;
    padding-top: 45px;
}

.watch {
    align-self: flex-end;
    width: 5%;
}

.watch > img{
    width: 260px; 
    margin-left: -100px;
    padding-bottom: 50px;
}

.plate{
    width: 100%;
}

.plate > img{
  width: 100%;
}


/* ------------------------------------------- */

.section-quote{
    /* border: 1px solid red; */
    width: 99%;
    margin: auto;
    margin-top: 250px;
}
.section-quote > div > p{
    height: auto;
    margin: auto;
    /* border: 1px solid ; */
    text-align: center;
    line-height: 50px;
    color: #46618a;
    font-size: 30px;
    font-weight: 500;
    font-weight: bolder;
    font-family:  Helvetica, Arial, sans-serif;
}

#women{
    display: grid;
    align-items: center;
    justify-content: center;
}
#women-health {
    /* border: 1px solid; */
    height: 55px;
    width: 80%;
    margin: 30px;
}

.logos{
    /* border: 1px solid; */
    margin-top: 70px;
    width: 100%;
    height: auto;
    display: flex;
}
.logos > img{
    /* border: 1px solid red; */
    margin: auto;
    height: 45px;
}
