* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    /* border: 1px solid ; */

}

.bg {
    width: 100%;
    height: 630px;
    background: url(https://s3.amazonaws.com/img.mynetdiary.com/images/texture-noise@1x.png), radial-gradient(ellipse at top, #05b24a 0, #05963d 0%);
    border-bottom-left-radius: 100rem 5rem;
    border-bottom-right-radius: 100rem 5rem;
}

.header {
    width: 100%;
    background: url(https://s3.amazonaws.com/img.mynetdiary.com/images/texture-noise@1x.png), radial-gradient(ellipse at top, #05b24a 0, #05963d 60%);
    /* border: 1px solid red; */
    position: fixed;
    top: 0px;
    /* background-color: white; */
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    /* background-color: #0ca348; */
}

.brand-logo {
    /* border: 1px solid red; */
    width: 80%;
    height: 80px;
    margin: 6px;
}

.nav-menu {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    overflow: hidden;
    color: white;
    margin-top: 4%;
}

.nav-menu> li {
    float: left;
}
.nav-menu>li a, 
.dropbtn {
    /* border: 1px solid black; */
    font-family: 'Arial', serif;
    font-size: 17.5px;
    text-decoration: none;
    text-align: left;
    display: inline-block;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 14px 22px;
    /* color: white; */
}


.nav-menu>li >a:hover, .dropdown:hover .dropbtn{
    color: #ff9e45;
    background-color: white;
}

.nav-menu>li .dropdown{
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    color: #ff9e45;
    background-color: white;
    min-width: 160px;
    border-radius: 0 4px 4px 4px;
}

.dropdown > .dropbtn{
    color: white;
}

.dropdown-content a{
    margin:  8px;
    /* margin-top: 8px; */
    border-radius: 4px;
    /* padding: 500px; */
    text-decoration: none;
    display: block;
    text-align: left;
    color: #46618a;
}

.dropdown-content a:hover {
    background-color: #ff9e45;
    color: white;
}

.dropdown:hover .dropdown-content {
  display: grid;
}

/* ------------------------------------- */

.sign {
    /* border: 1px solid blue; */
    width: 22%;
    height: 60px;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;

}

.signin>button,
.signup>button {
    height: 50px;
    width: 130px;
    font-size: 18px;
    font-family: 'Arial', serif;
    border-radius: 58px;
    cursor: pointer;

}

.signup>button {
    border: 3px solid rgba(5, 96, 0, .5);
    color: white;
    background-color: #ff9e45;
    background: linear-gradient(to bottom, #ffb845 0, #ff9945 100%);
}

.signin>button {
    border: 3px solid #0bb850;
    background: url(https://s3.amazonaws.com/img.mynetdiary.com/images/texture-noise@1x.png), radial-gradient(ellipse at top, #05b24a 0, #05963d 0%);
    color: white;
}


/* ------------------------------------------------------------ */

.section-start {
    /* border: 1px solid red; */
    display: flex;
    /* justify-content: space-between; */
    padding-top: 8%;
    margin: auto;
    width: 100%;
    height: auto;
}

.berry-text-store {
    /* border: 1px solid blue; */
    height: auto;
    width: 38%;
    margin: 2px;
}

.berry {
    width: 60px;
    height: 55px;
    padding-top: 9%;
    margin-left: 7%;
}

.berry-text-store > div > h1 {
    /* border: 1px solid; */
    height: 150px;
    width: 85%;
    color: #FFFFFF;
    font-size: 72px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 10px 90px;
    line-height: 1;
    display: block;
}

.berry-text-store > div > p {
    /* border: 1px solid; */
    height: 50px;
    width: 60%;
    color: #fcf8b3;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    margin: 10px 90px;
}


.store {
    /* border: 1px solid red; */
    display: flex;
    width: 80%;
    margin: 40px 90px;
    justify-content: space-between;
}

.store a>img {
    width: 85%;
    height: 100px;
}

.rating {
    /* border: 1px solid red ; */
    width: 90%;
    height: auto;
    color: #46618a;
    font-size: 22px;
    font-weight: 400;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px 40px;
}

.rating-device,
.rating-device>div {
    /* border: 1px solid; */
    display: flex;
    margin: auto;
    justify-content: space-around;
}


.rating-device div {
    margin: 20px 0px;
}

.iphone-watch {
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin: 2px;
}

.phone,
.watch,
.plate {
    /* border: 1px solid yellow; */
    margin: 2px;
    width: 100%;
}

.phone>img {
    height: 680px;
    width: 430px;
    margin-left: -20px;
    padding-top: 45px;
}

.watch {
    align-self: flex-end;
    width: 5%;
}

.watch>img {
    width: 260px;
    margin-left: -30px;
    padding-bottom: 50px;
}

.plate {
    width: 100%;
   
}

.plate>img {
    width: 100%;
    height: 80%;
}


/* ------------------------------------------- */

.section-quote {
    /* border: 1px solid red; */
    width: 99%;
    margin: auto;
    margin-top: 250px;
}

.section-quote>div>p {
    height: auto;
    margin: auto;
    /* border: 1px solid ; */
    text-align: center;
    line-height: 50px;
    color: #46618a;
    font-size: 30px;
    font-weight: 500;
    font-weight: bolder;
    font-family: Helvetica, Arial, sans-serif;
}

#women {
    display: grid;
    align-items: center;
    justify-content: center;
}

#women-health {
    /* border: 1px solid; */
    height: 55px;
    width: 80%;
    margin: 30px;
}

.logos {
    /* border: 1px solid; */
    margin-top: 70px;
    width: 100%;
    height: auto;
    display: flex;
}

.logos>img {
    /* border: 1px solid red; */
    margin: auto;
    height: 45px;
}

.curve{
    /* border: 1px solid red; */
    height: 50px;
    width: 100%;
}
.curve > img{
    height: 110px;
    width: 99.9%;
    background-color: white;
    border-bottom-left-radius: 100rem 5rem ;
    border-bottom-right-radius: 100rem 5rem ;
}

/* ----------------------------------------------- */

/* .border{
    border: 1px solid red;
    width: 100%;
    height: 10px;
    background-color: white;
    border-bottom-left-radius: 100rem 5rem ;
    border-bottom-right-radius: 100rem 5rem ;
} */

.section-insight {
    background: url(http://mynetdiary.com/images/texture-noise@1x.png);
    width: 97%;
    height: auto;
    /* margin-top: 90px; */
    padding: 100px 20px;
    border-bottom-left-radius: 100rem 5rem;
    border-bottom-right-radius: 100rem 5rem;
    /*  100rem 5rem */
}

.section-insight>h3,
.section-toprated>h3,
.blogs-heading > h3,
.section-compatible > div > h3 {
    /* border: 1px solid ;  */
    text-align: center;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: #2685d0;
    line-height: 1.2;
    letter-spacing: -.05rem;
}

.insight-cards {
    margin: auto;
    /* border: 1px solid red ; */
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 60px 30px;
    margin-top: 80px;
}

.insight-cards>div {
    /* border: 1px solid; */
    display: grid;
}

.insight-cards>div>img {
    /* border: 1px solid red; */
    width: auto;
    height: 200px;
    margin: auto;
}

.insight-cards>div>h5,
.section-witcard>div>h5 {
    /* border: 1px solid red ; */
    text-align: center;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    color: #2685d0;
    font-weight: bolder;
    line-height: 1.2;
    margin: 24px 0 20px;
}

.insight-cards>div>p,
.section-witcard>div>p
{
    margin: auto;
    width: 95%;
    height: 125px;
    /* border: 1px solid red ; */
    text-align: center;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: #46618a;
    font-weight: 550;
    line-height: 1.5;
}

/* ----------------------------------------- */
.section-toprated {
    /* border: 1px solid red; */
    width: 99.8%;
    height: auto;
    margin-top: 100px;
}

.section-toprated>blockquote{
    margin: auto;
    width: 75%;
    height: auto;
    /* border: 1px solid red ; */
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #46618a;
    font-weight: 550;
    line-height: 1.5;
    margin-top: 60px;
}


.section-toprated>div {
    /* border: 1px solid; */
    width: 99.8%;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.section-toprated button {
    margin: auto;
    height: 65px;
    width: 320px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.5px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 60px;
    cursor: pointer;
    border: 1.9px solid #0bb850;
    background-color: transparent;
    color: #0bb850;
    position: relative;
}

.section-toprated > div >button:hover{
    background-color: #0bb850;
    color: white;
}

.line {
    border: 1px dashed rgb(190, 170, 131);
    width: 1250px;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 7%;
}

.section-witcard {
    /* border: 1px solid red; */
    width: 99.8%;
    display: flex;
}

.section-witcard>div {
    /* border: 1px solid red; */
    width: 30%;
    margin: auto;
}


.section-witcard>div>img{
    height: 390px;
    width: 100%;
    margin: auto;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button {
    display: grid;
    /* border: 1px solid ; */
    margin-top: 8%;
}

.button>button {
    margin: auto;
    height: 65px;
    width: 22%;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.5px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 60px;
    cursor: pointer;
    border: 1.9px solid #0bb850;
    background-color: transparent;
    color: #0bb850;
    position: relative;
}

.button >button:hover{
    background-color: #0bb850;
    color: white;
}
/* ---------------------------------------------------- */

.slider{
    border: 1px solid green;
    background-color: #0d9f46;
    border-bottom-left-radius: 100rem 5rem;
    border-bottom-right-radius: 100rem 5rem;
    /* margin-top: 90px; */
    height: 650px;
}

.slider{
    width: 99.8%;
}

.slides-container{
    height: auto;
    position: relative;
    overflow: hidden;
}
.slide-image {
    height: 100%;
    position: absolute;
}

.slide-image img{
    width: 100%;
    height: 82%;
    padding-top: 28.2%;
    padding-left: 16%;
    object-fit: cover;
}

.next-btn,
.prev-btn{
    padding: 25px;
    position: absolute;
    /* top: 50%; */
    margin: 20px;
    transform: translateY(350%);
    border: 2px solid rgba(5, 96, 0, .5);
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
    /* transition: 400ms; */
}

.next-btn:hover,
.prev-btn:hover{
    background-color: white;
}
.prev-btn{
    left: 0;
}
.next-btn{
    right: 0;
}

.nav-dots{
    /* border: 1px solid; */
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 16px 0px;
    /* background-color: #0bab4b; */
}
.single-dot{
    border: 2px solid rgba(5, 96, 0, .5);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin: 0px 10px;
    cursor: pointer;
}
/* .single-dot.active{
    background: #eee;
} */

/* ----------------------------------- */
.blogs{
    /* border: 1px solid blue; */
    width: 99.8%;
    height: auto;
    margin-top: 5.5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2, 1fr;
    gap: 40px 20px;
}

.blogs-heading > h3{
    /* border: 1px solid ; */
    margin: 5px;
    width: 99%;
    height: 50px;
    margin-top: 80px;
}

.blogs> div{
    /* border: 1px solid red; */
    margin: 15px;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.blogs > div> img {
    height: 390px;
    width: 100%;
    margin: auto;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.blogs > div > h6 {
    /* margin: auto; */
    width: 75%;
    height: auto;
    /* border: 1px solid red ; */
    text-align: left;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #46618a;
    font-weight: 550;
    line-height: 1.3;
    margin:15px;
}
.blogs > div:hover > h6{
    text-decoration: underline;
}


.blogs > div > p {
    margin:15px;
    width: 90%;
    height: auto;
    /* border: 1px solid red ; */
    text-align: left;
    font-size: 15.5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #46618a;
    font-weight: 550;
    line-height: 1.5;
}

hr{
    width: 20%;
}

.compatible-logos {
    /* border: 1px solid; */
    width: 99.8%;
    height: auto;
    display: flex;
    margin: 0;
}

.compatible-logos>img {
    /* border: 1px solid red; */
    margin: auto;
    height: 35px;
    width: auto;
}

.section-compatible > div > h3{
    padding-bottom: 4%;
}


.section-cta{
    background: #f3aa40;
    /* margin-top: 8%; */
    border-bottom-left-radius: 100rem 5rem;
    border-bottom-right-radius: 100rem 5rem;
    width: 99.8%;
    height: auto;
    display: flex;
    flex-wrap: column;
    /* padding-bottom: 2%; */
}

.section-cta > div{
    /* border: 1px solid ; */
    margin: 2px;
}


.section-cta > div > h1 {
    /* border: 1px solid; */
    height: auto;
    width: 80%;
    color: #FFFFFF;
    font-size: 65px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 90px 20px ;
    line-height: 1.25;
    /* display: block; */
}


.section-cta > div > .signup-cta > button {
    height: 65px;
    width: 25%;
    margin: 0px 20px;
    font-size: 20px;
    font-family: 'Arial', serif;
    border-radius: 60px;
    cursor: pointer;
    border: 3px solid rgba(186, 61, 0, .39);
    color: white;
    /* background-color: #0bb850; */
    background: linear-gradient(to bottom, #0dcb59 0, #0bab4b 100%);
    box-shadow: rgba(191 76 4 / 63%) 0 25px 30px -50px ;
}

.section-cta > div > .signup

.section-cta > div{
    width: 100%;
}
.section-cta > div >  img {
    height: auto;
    width: 100%;
    margin-top: 25%;    
}

/* .dotted-line{
    display: flex;
    border: 1px dotted #d26511;
    width: 30%;
    height: 100px;
    margin: auto;
    border-radius: 100%;
} */

.footer-bg{
    background: url(http://mynetdiary.com/images/texture-noise@1x.png);
    width: 99.8%;
    height: auto;
}

footer{
    /* border: 1px solid; */
    width: 99.8%; 
    height: auto;
    display: flex;
}

footer > div{
    /* border: 1px solid red; */
    width: 18%;
    margin: 5px;
}

.logo-store-icon{
    /* display: grid; */
    width: 32%;
}
.logo-store-icon > div {
    margin: 2px;
    /* border: 1px solid; */
    width: auto;
}
.rating > strong{
    color: #5b6067;
    font-size: 19px;
}

.logo-store-icon>.rating > img{
    width: 20px;
    height: 19px;
}

.social-media{
    /* border: 1px solid red; */
    padding-bottom: 15%;
}
.social-media > i{
    margin: 5px;
    padding: 6%;
    border: 1px solid #cfc0be;;
    border-radius: 50%;
    color: #cfc0be;
    cursor: pointer;
}

.social-media > i:nth-child(1):hover{
  color: #7e4d37;
}

.social-media > i:nth-child(2):hover{
    color: #1b74e4;
}
.social-media > i:nth-child(3):hover{
    color: #1d9bf0;
}
.social-media > i:nth-child(4):hover{
    color: #ff0000;
}
.social-media > i:nth-child(5):hover{
    color: #c1092d;
}


footer > div > h6 {
    width: 100%;
    height: 60px;
    /* border: 1px solid red ; */
    text-align: left;
    font-size: 17.5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #46618a;
    font-weight: bold;
    line-height: 1.3;
    margin: 40px 0px 10px;
}

footer > div > ul{
    margin: auto;
    width: 95%;
    height: auto;
    text-align: left;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #46618a;
    font-weight: bold;
    line-height: 3;
    margin-left: 20px;
    text-decoration: none;
}

.copyright{
    /* border: 1px solid blue; */
    background-color: rgb(143, 112, 102, .07);
    height: auto;
    width: 99.8%;
    display: flex;
    justify-content: space-between;
}

.copyright > div {
    /* border: 1px solid ; */
    margin: 10px;
    width: auto;
    display: flex;
    justify-content: space-evenly;
}

.copyright p{
    margin:40px 20px;
    width: auto;
    height: auto;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    color: #5b6067;
}





