*{
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    /* border: 1px solid ; */
    
}

.bg{
    height: 610px;
    background-color: #0ca348;
    border-bottom-left-radius: 100rem 5rem;
    border-bottom-right-radius: 100rem 5rem;
}

.header{
    
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    /* background-color: #0ca348; */
}

.brand-logo{
    /* border: 1px solid red; */
    width: 80%;
    height: 80px;
}

.nav-menu{
    /* border: 1px solid red; */
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-menu > li  {
    /* border: 1px solid black; */
    width: 80px;
    height: 30px;
    font-family: 'Arial', serif;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    /* transition: all 0.3s ease 0s;    */
}

a{
    color: white;
    text-decoration: none;
    /* list-style: disc; */
}


.nav-menu > li :hover{
    color: #ff9e45;
    /* background-color: white; */
}

.sign{
    /* border: 1px solid blue; */
    width: 22%;
    height: 60px;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    
}
 .signin > button, .signup > button {
    height: 50px;
    width: 130px;
    font-size: 18px;
    font-family: 'Arial', serif;
    border-radius: 58px;
    cursor: pointer;

}   
.signup > button {
    border: 3px solid rgba(5, 96, 0, .5);
    color: white;
    background-color: #ff9e45;
    background: linear-gradient(to bottom, #ffb845 0, #ff9945 100%);
} 
.signin > button {
    border: 3px solid #0bb850;
    background-color: #0ca348;
    color: white;
}  


/* ------------------------------------------------------------ */

.section-start{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
}

.berry{
    width: 60px;
    height: 55px;
    /* position: absolute; */
    padding-top: 9%;
    margin-left: -8%;
}

h1{
    /* border: 1px solid; */
    height: 150px;
    width: 400px;
    color: #FFFFFF;
    font-size: 72px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 10px 15px ;
    line-height: 1;
    display: block;
}
p{
    /* border: 1px solid; */
    height: 50px;
    width: 60%;
    color: #fcf8b3;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    margin: 10px 15px;
}


.store{
    /* border: 1px solid red; */
    display: flex;
    width: 90%;
    margin: 60px 20px;
    justify-content: space-between;
}
.store a > img{
    width:90%;
    height: auto;
}

.iphone-watch{
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    height: 600px;
    width: 100%;
    margin: auto;
    /* margin-left: -10px; */
}

.phone{
    width: 30%;
}
.phone > img{
    height: 650px;
    margin-left: -50px;
}
.watch {
    display: flex;
    align-self: flex-end;
    /* padding-top: 100%; */
    height: 350px;
}
.plate > img{
    width: 100%;

}






